<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link type="text/css" rel="stylesheet" href="static/styles/login.css">
    <style>
      .hidden {
          display: none;
      }
  </style>
</head>
<body>
  <div class="container">

    <h1>Вход</h1>
    <div class="hidden">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a>.</p>
  </div>
</body>
</html>
