body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/3e/d5/44/3ed544bc72fa2b049cadc246c171770d.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(109, 79, 210);
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 80%;
  background-color: rgba(152, 115, 201, 0.712);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.grades {
  overflow-y: auto;
  height: 100%;
}

.profile-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-button:hover {
  background-color: #0056b3;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);

}

.grades-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grade-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(147, 110, 187, 0.461);
  color: #ddd;
}

.subject {
  font-weight: bold;
  margin-right: 10px;
}

.grade-square {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #785cc5;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
}

button {
  margin-bottom: 10px;
  background-color: #785cc5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: rgba(77, 15, 223, 0.5);
  transform: scale(1.05);
}
